<header class="header">
  <div class="l-container header__container">

    <a routerLink="/" class="header__logo">
      <img src="/img/logotipo-EducaDino.png" alt="EducaDino Logo">
    </a>

    <nav class="header__nav">

      <div class="header__search">
        <span class="material-icons"></span>
        <input type="text" placeholder="Buscar">
      </div>

      <ul class="header__menu">
        <li><a routerLink="/minijuegos" class="header__link">Minijuegos</a></li>
        <li><a routerLink="/curiosidades" class="header__link">Curiosidades</a></li>
        <li><a routerLink="/ordenes" class="header__link">Órdenes</a></li>
        <li><a routerLink="/contacto" class="header__link">Contacto</a></li>
      </ul>
    </nav>


    <a routerLink="/perfil" class="header__profile">
      <div class="header__star">
        <span>Perfil</span>
      </div>
    </a>

  </div>
</header>
