<footer class="footer">
  <div class="l-container footer__grid">

    <div class="footer__col">
      <img src="img/logotipo-EducaDino.png" alt="EducaDino" class="footer__logo">
      <a routerLink="/contacto" class="footer__cta">Contacto directo</a>
    </div>

    <div class="footer__col">
      <div class="footer__row">
        <span class="footer__label">Dirección:</span>
        <span class="footer__pill">IES Rafael Alberti</span>
      </div>
      <div class="footer__row">
        <span class="footer__label">Teléfono:</span>
        <span class="footer__pill">+34 666 777 999</span>
      </div>
      <div class="footer__row">
        <span class="footer__label">Email:</span>
        <span class="footer__pill">educadino&#64;gmail.com</span>
      </div>
    </div>

    <div class="footer__col">
      <div class="footer__row">
        <span class="footer__label">Derechos:</span>
        <span class="footer__pill">Copyright</span>
      </div>
      <div class="footer__row">
        <span class="footer__label">Autor:</span>
        <span class="footer__pill">Víctor Gómez</span>
      </div>
      <div class="footer__row">
        <span class="footer__label">FAQ:</span>
        <span class="footer__pill">FAQ</span>
      </div>
    </div>

    <div class="footer__col">
      <div class="footer__row">
        <span class="footer__label">Acerca de:</span>
        <a routerLink="/about" class="footer__pill footer__pill--link">Acerca de</a>
      </div>
      <div class="footer__row">
        <span class="footer__label">Política:</span>
        <a routerLink="/privacidad" class="footer__pill footer__pill--link">Política de privacidad</a>
      </div>
    </div>

  </div>
</footer>
