# Dependencies
node_modules/
.npm/

# Build
dist/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Test
coverage/
.angular/

# Logs
*.log

# Environment
.env
.env.*

# Angular cache
.angular/cache/

