.curiosities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-6);
  padding: var(--spacing-6);
  min-height: 100vh;
  background-color: var(--background-color-disabled);

  &__title {
    font-family: var(--font-secondary);
    font-size: var(--font-size-5xl);
    color: var(--primary-color-active);
    text-align: center;

    line-height: var(--line-height-tight);
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
    margin-bottom: var(--spacing-2);
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: var(--spacing-6);
    max-width: 1400px;
    width: 100%;
    justify-items: center;


    @media (max-width: 1024px) { // breakpoint-lg
      grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

    @media (max-width: 768px) { // breakpoint-md
      grid-template-columns: 1fr;
    }

  }
}

