/*------
VARIABLES DE COLOR ADAPTADAS A LA WEB
------- */
:root {
  --color-prueba-1: #5c7d3a; /*Color primario*/
  --color-prueba-2: #bf4242; /*Color secundario*/
}

:root {
  --espaciado-1: 1rem;
  --espaciado-2: 2rem;
}
