// 05-components/_card.scss

.dino-card {
  display: flex;
  flex-direction: column;

  background-color: var(--background-color);
  border-radius: var(--radius-xl);
  padding: var(--spacing-4);
  box-shadow: var(--shadow-md);

  /* Efecto al pasar el ratón */
  transition: transform var(--transition-fast);

  &:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-lg);
  }

  /* Encabezado */
  &__category {
    font-family: var(--font-secondary); /* Fredoka One */
    font-size: var(--font-size-3xl);
    color: var(--primary-color-active);
    text-align: center;
    margin-bottom: var(--spacing-2);
  }

  /* Contenedor de la imagen */
  &__media {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--radius-lg);
    background-color: #fff;
    margin-bottom: var(--spacing-3);
  }

  /* Título específico */
  &__title {
    font-family: var(--font-secondary);
    font-size: var(--font-size-2xl);
    color: var(--primary-color-active);
    line-height: 1.1;
    margin-bottom: var(--spacing-2);
  }

  /* Texto descriptivo */
  &__description {
    font-family: var(--font-primary);
    font-size: var(--font-size-lg);
    color: var(--primary-color);
    margin-bottom: var(--spacing-4);
    flex-grow: 1; /* Esto hace que el texto ocupe el espacio disponible */
  }

  /* Botón y Corazón */
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }

  /* Corazón */
  &__icon {
    color: var(--primary-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: color var(--transition-fast), transform var(--transition-fast);

    &.is-liked {
      color: var(--support-color); // Tu naranja (#EF7B51)
    }
  }
}
